/*main selectors*/
a{
    text-decoration: none;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/*main wrap*/
.container{
    width: 80%;
    margin: auto;
}
/*main wraps*/
.flex-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*sections*/
header{
    display: flex;
    flex-direction: row;
    height: 8rem;
    background-color: aqua;
    align-content: flex-start;
    
}
/*header*/
header div{
    flex-grow: 1;
    height: 2.5rem;
    text-align: center;
    background-color: black;
    padding-top: 1.2rem;
    color:grey;
}
header a{
    margin-top: 0.2rem;
    color:grey;
    
}
/*name and descriptio*/
article{
    text-align: center;
    background-image: url(img/background.jpg);
    height: 35rem;
    padding-top: 4rem;
    color: white;
}
article h1{
    font-size: 4rem;
    margin-bottom: 0;
}
article h2{
    font-size: 3rem;
    margin-top: 0;
    padding-top: 0.9rem;

}

article span{
    color: cadetblue;
    padding-bottom: 0.2rem;
    border-bottom: 0.4rem solid rgb(236, 230, 230);
    margin-bottom: 1rem;
    position: relative;
    top:-4px;
}
/* aside */
main{
    background-color: rgb(88, 88, 240);
    padding-bottom: 1.5rem;
}
#text {
    align-self: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    padding-bottom: 4rem;
}


#experiences{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin:auto;
    flex-grow: 1;
    height: 20em;
} 
#discover{
   width: 20%;

}
.circle{
    width: 8rem;
    background-color: white;
    height: 8rem;
    border-radius: 50%;
    position: relative;
    top: -4rem;

}
#experiences h3{
    position: relative;
    top: -3.5rem;
    font-size: 1.5rem;
    left: 1.1rem;
    color: turquoise;
}
#experiences p{
    text-align: center;
    position: relative;
    top:-2rem;
    color: rgb(247, 239, 247);
    
}#design{
    width: 20%;
}
#deploy{
   width: 20%;

}
#ready{
    width: 20%;
 
 }



   

